<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Financial Resources
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Section: Tips and Tricks -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Tips and Tricks
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Track your expenses to know where your money is going.</li>
        <li>Create a budget and stick to it.</li>
        <li>Limit unnecessary expenses like eating out or buying coffee.</li>
        <li>Find ways to earn extra income, like freelancing or selling items online.</li>
        <li>Invest your money wisely.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Side Hustles
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Looking to make some extra money on the side? Check out these resources:</p>
      <ion-list>
        <ion-item href="https://www.upwork.com/" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          <ion-label>Upwork</ion-label>
        </ion-item>
        <ion-item href="https://www.freelancer.com/" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          <ion-label>Freelancer</ion-label>
        </ion-item>
        <ion-item href="https://www.taskrabbit.com/" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          <ion-label>TaskRabbit</ion-label>
        </ion-item>
      </ion-list>
      <p>Don't want to work for someone else? Try starting your own business:</p>
      <ion-list>
        <ion-item href="https://www.shopify.com/" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          <ion-label>Shopify</ion-label>
        </ion-item>
        <ion-item href="https://www.etsy.com/" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          <ion-label>Etsy</ion-label>
        </ion-item>
        <ion-item href="https://www.amazon.com/" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          <ion-label>Amazon</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  

  <!-- Section: Videos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Videos
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-img src="../../../assets/img/hq720.jpg"></ion-img>
            <h3>Master Your Money: </h3>
            <p>The Ultimate Budgeting Guide for Young Adults | Chinkee Tan</p>
            <ion-button expand="block" fill="outline" href="https://www.youtube.com/watch?v=lzxpK_EtAEk&ab_channel=ChinkPositive" target="_blank">
              Watch Video
            </ion-button>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-img src="../../../assets/img/hq720 (1).jpg"></ion-img>
            <h3>Save Fast! </h3>
            <p>Try This 5 Simple Ways To Save More Money</p>
            <ion-button expand="block" fill="outline" href="https://www.youtube.com/watch?v=e0a3S-1tWYM&ab_channel=ChinkPositive" target="_blank">
              Watch Video
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Section: YouTube Channels -->
<ion-card>
  <ion-card-header>
    <ion-card-title>
      YouTube Channels
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item href="https://www.youtube.com/@chinkpositive" target="_blank">
        <ion-icon name="logo-youtube" slot="start"></ion-icon>
        <ion-label>Chink Positive</ion-label>
      </ion-item>
      <ion-item href="https://www.youtube.com/@AndreiJikh" target="_blank">
        <ion-icon name="logo-youtube" slot="start"></ion-icon>
        <ion-label>Andrei SJikh</ion-label>
      </ion-item>
      <ion-item href="https://www.youtube.com/@RyanScribner" target="_blank">
        <ion-icon name="logo-youtube" slot="start"></ion-icon>
        <ion-label>Ryan Scribner</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>


  <!-- Section: Links -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Links
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item href="https://www.investopedia.com/" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          <ion-label>Investopedia</ion-label>
        </ion-item>
        <ion-item href="https://www.nerdwallet.com/" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          <ion-label>NerdWallet</ion-label>
        </ion-item>
        <ion-item href="https://www.ramseysolutions.com/budgeting/the-secret-to-saving-money" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          <ion-label>ramseysolutions</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
